<div class="teacher-board clearfix">
  <% for( var i = 0; i < excellentStudentData.length; i++ ) {
    var item = excellentStudentData[i];
  %>
  <%- include('item.ejs',{item,i,IMG_BASE_URL})%>
  <% } %>

</div>