<footer class="footer">
    <div class="footer-inner">
        <%- include('top/index.ejs',{
            linkData,
            manualData,
            qr
        }) %> 
        <%- include('bottom.ejs') %> 
    </div>
</footer>